/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

header {
    background: rgba(46, 139, 87, 0.9); /* Slight transparency for better readability */
    padding: 20px 0;
    animation: fadeInDown 1s;
    position: fixed; /* Fix the header */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 55px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px; /* Added padding for better hover effect */
    border-radius: 5px; /* Added border-radius for smooth effect */
    transition: background-color 0.3s; /* Smooth transition effect */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Change background color on hover */
}
nav ul li img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    filter: brightness(0) invert(1); /* Change the color to white */
}

/* Homepage Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin for the last item */
}

nav ul li img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}


main {

    height: 100vh; /* Take full height of viewport */
    padding-top: 80px; /* Add padding to prevent overlap with fixed header */
}

.profile-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-section h1 {
    color: #2e8b57;
}

.profile-info p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2e8b57;
    color: #fff;
}

.btn-container {
    display: flex;
    justify-content: center; /* Horizontally center the button */
    margin-top: 20px; /* Adjust margin as needed */
}

.btn {
    width: auto;
    display: flex;
    padding: 10px;
    font-size: 16px;
    color: #fff; /* White text color */
    background-color: #2e8b57; /* Matching shade of green */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #52734D; /* Darker shade of green on hover */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}